.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.newsItem {
  border: solid white;
  background-color: #ffd8d8;
}

.searchBar{
  height: 70px;
  background-color:#ffd8d8;
}
.searchBar input {
  background-color:#ff7575;
  height: 40px;
  text-align: center;
  padding-left: 600px;
  padding-right: 600px;
  
}

input {
  
    color: #fff;
    font-family: Nunito;
    padding: 100;
    margin: 0;
    border: 0;
    background-color: transparent;
    font-size: large;
    font-weight: bold;
}
